.activities-head {
  padding: 10px 0;
  font-size: 18px;
}

.activity-item {
  height: 205px;
  display: flex;
  border: 10px solid $lightgray;
  margin-bottom: 30px;
  justify-content: space-between;
  position: relative;

  &.full {
    height: auto;
  }

  .image-container {
    height: 185px;
    width: 25%;
    position: relative;
    background-size: cover !important;
    background-position: center !important;

    @media screen and (max-width: $sm) {
      width: 100%;
      height: 40vh;
    }
  }

  .activity-content {
    padding: 20px 25px;
    width: 55%;

    .information {
      display: flex;
      justify-content: space-between;

      .read-more-btn {
        cursor: pointer;
      }
    }

    h2 {
      color: $gray;
      margin: 0;
    }

    p {
      color: #9CA3AD;
    }

    @media screen and (max-width: $sm) {
      width: 100%;
    }
  }

  .price-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 10px solid $lightgray;
    padding: 20px 25px 80px;
    width: 20%;
    text-align: center;
    position: relative;


    &-value {
      font-weight: bold;
      font-size: 24px;
      color: #545454;
    }

    .popular {
      background: $lightgray;
      font-weight: bold;
      padding: 5px;
    }

    .price-value {
      position: absolute;
      bottom: 20px;
      left: 0;
      margin: 0 auto;
      width: 100%;
    }

    @media screen and (max-width: $sm) {
      width: 100%;
      border-right: none;
    }
  }

  @media screen and (max-width: $sm) {
    height: auto;
    flex-direction: column;
  }
}

.gallery-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    fill: white;
  }
}

.load-more {
  text-align: center;
  margin-bottom: 20px;

  button {
    padding: 10px 40px;
    background: $amaranth;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
}
