.counter {
  display: flex;
  justify-content: center;

  input {
    width: 60px;
    height: 30px;
    text-align: center;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 3px;
  }

  span {
    width: 30px;
    height: 30px;
    line-height: 26px;
    background: #E8444D;
    border-radius: 3px;
    margin: 0 3px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
}
