.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;

  &-container {
    background: white;
    width: 700px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  }

  &-close {
    position: absolute;
    top: -30px;
    display: block;
    width: 15px;
    cursor: pointer;

    svg {
      fill: #ffffff;
      filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
    }
  }
}

.thumbnails {
  height: 70px;

  img {
    max-height: 100%;
    padding: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: .3s;

    &.active {
      opacity: 1;
    }
  }
}

.active-image {
  background: black;

  img {
    display: none;

    &.active {
      display: block;
      width: 100%;
    }
  }
}